/* @media only screen and (min-width: 1130px) { */
.hero-section {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(70deg, #6286fe 50%, #53b0ed 50%); */
  /* background: linear-gradient(180deg, #33b3ff, #dfdfdf); */
  /* background: linear-gradient(
    180deg,
    rgb(35, 101, 255) 0%,
    #33b3ff 50%,
    #dfdfdf 100%
  ); */

  /* background-image: url('../Hero/bg-v2@3x.png');
  background-size: cover; */
  position: relative;
}

video {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.fade {
  background-color: rgba(255, 255, 255, 0.875);
  /* background-color: rgba(235, 235, 235, 0.678); */
  /* background: linear-gradient(
    135deg,
    rgba(131, 131, 131, 0.22),
    rgba(255, 255, 255, 0.523)
  ); */

  /* filter: drop-shadow(1px 5px 4px #ffffff); */
  /* box-shadow: 3px 3px 20px rgba(118, 118, 118, 0.697); */
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  width: 80%;
  height: 75vh;
  /* height: 75%; */
  position: absolute;
  top: 15%;
  bottom: 20%;
  right: 10%;
  left: 10%;
  overflow: scroll;

  /* margin: -50px 0 50px -50px; */
}

.app-header {
  /* background: linear-gradient(70deg, #33b3ff 50%, #dfdfdf 50%); */
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 5px; */
  /* position: absolute; */
  /* padding-top: 60px; */
  /* padding-bottom: 50px; */
}

.social {
  padding-top: 1vh;
  /* margin-left: 4em; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 5vh;
}

.headshot {
  width: min(38vw, 230px);
  height: auto;
  border-radius: 50%;
  margin-top: 5vh;
}

.hero-name {
  font-size: 2rem;
  font-weight: 900;
  /* color: white; */
}

.text {
  padding-left: 3em;
  padding-right: 3em;
  line-height: 1.5em;
  font-size: 1.2rem;
  font-weight: 300;
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  text-align: center;
}

.t2 {
  padding-left: 3em;
  padding-right: 3em;
  /* line-height: 1.5em; */
  font-size: 1.2rem;
  font-weight: 300;
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  text-align: center;
}
/* .top-content {
    margin-left: 4em;
    margin-right: 4em;
  } */
/* } */
