@media screen and (max-width: 784px) {
  /* * {
    margin: 0;
    box-sizing: 0;
  } */
  /*----------Navbar and burger menu ------------------- */
  /* .mob-nav {
    position: fixed;
    z-index: 2;
    margin: 0;
  } */

  nav {
    width: 100%;
    height: 5em;
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
    padding: 1em;
    position: absolute;
    z-index: 2;
    position: fixed;
    z-index: 5;
  }

  .burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 5;
  }

  .burger-bar {
    width: 4em;
    height: 0.5em;
    /* background-color: rgb(119, 119, 119); */
    background-color: fuchsia;
    border-radius: 0.5em;
    z-index: 5;
  }

  .menu {
    width: 50%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    /* top: 0; */
    right: 0;
    z-index: 3;
    position: absolute;
    position: fixed;
  }

  .mobile-items {
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    justify-content: space-around;
    bottom: 10%;
    position: absolute;
    top: 10%;
    /* left: 0; */
    /* right: 0%; */
    cursor: pointer;
  }

  .mob-list {
    list-style: none;
    justify-content: space-around;
    font-weight: 900;
    font-size: 2rem;
  }

  .mob-item {
    padding-bottom: 5vh;
  }

  /* menu items */

  /* --------- Sliding Menu ----------- */

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  /* --------animations ---------- */

  /* clicked */
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
  }

  /* unclicked */
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
}

@media screen and (min-width: 785px) {
  .mob-nav {
    display: none;
  }
}
