/* https://www.w3schools.com/howto/howto_css_timeline.asp */

/* The actual timeline (the vertical ruler) */
.timelineContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: rgb(241, 245, 255); */
}

/* The actual timeline (the vertical ruler) */
.timelineContainer::after {
  content: '';
  position: absolute;
  width: 6px;
  /* background-color: rgb(225, 225, 225); */
  background-color: rgb(235, 235, 235);

  top: 0px;
  bottom: -21px;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  /* background-color: blue; */
  width: 50%;
}

/* Container around content */
.sub-container {
  padding: 25px 40px;
  position: relative;
  /* background-color: blue; */
  width: 50%;
}

.sub-containerS {
  padding: 25px 40px;
  position: relative;
  /* background-color: blue; */
  width: 50%;
}

.sub-containerS2 {
  padding: 35px 40px;
  position: relative;
  /* background-color: blue; */
  width: 50%;
}

.sub-containerT {
  padding: 25px 40px;
  position: relative;
  /* background-color: blue; */
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  right: -17px;
  background-color: black;
  border: 2px solid black;
  /* background-color: fuchsia;
  border: 2px solid fuchsia; */
  top: 50px; /*moves left circle */
  border-radius: 50%;
  z-index: 1;
}

/* The circles on the timeline */
.sub-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 26px;
  right: -17px;
  background-color: #33b3ff;
  border: 4px solid #33b3ff;
  top: -10px; /*moved circle */
  border-radius: 50%;
  z-index: 1;
}

.sub-containerS::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 26px;
  right: -17px;
  background-color: #7033ff;
  border: 4px solid #7033ff;
  top: -10px; /*moved circle */
  border-radius: 50%;
  z-index: 1;
}

.sub-containerS2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 26px;
  right: -17px;
  background-color: #7033ff;
  border: 4px solid #7033ff;
  top: -73px; /*moved circle */
  border-radius: 50%;
  z-index: 1;
}

.sub-containerT::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 26px;
  right: -17px;
  background-color: #0264c5;
  border: 4px solid #0264c5;
  top: -10px; /*moved circle */
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the left */
.left {
  left: -0.7%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

.sub-right {
  left: 50%; /*moved sub circle */
  margin-bottom: -10px;
}

.sub-rightS {
  left: 50%; /*moved sub circle */
  margin-bottom: -10px;
}

.sub-rightS2 {
  left: 50%; /*moved sub circle */
  margin-bottom: -10px;
}

.sub-rightT {
  left: 50%; /*moved sub circle */
  margin-bottom: -10px;
}
/* Add arrows to the left container (pointing right) */
/* .left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 50px; */
/* top: 22px;  */
/* width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(222, 222, 222);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(222, 222, 222);
 
} */

.left::before {
  content: ' ';
  border: 1px solid black;
  /* border: 1px solid fuchsia; */

  position: absolute;
  top: 60px;
  right: 2px;
  border-width: 1px 20px;
}

/* Add arrows to the right container (pointing left) */
/* .right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(222, 222, 222);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(222, 222, 222) transparent transparent;
} */

/* .sub-right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: -30px; moved arrow */
/* width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(222, 222, 222);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(222, 222, 222) transparent transparent;
} */

.sub-right::before {
  content: ' ';
  border: 1px solid #33b3ff;
  position: absolute;
  top: 5px;
  left: 15px;
  border-width: 1px 20px;
}

.sub-rightS::before {
  content: ' ';
  border: 1px solid rgb(77, 0, 128);
  position: absolute;
  top: 5px;
  left: 15px;
  border-width: 1px 20px;
}

.sub-rightS2::before {
  content: ' ';
  border: 1px solid rgb(77, 0, 128);
  position: absolute;
  top: -57px;
  left: 15px;
  border-width: 1px 20px;
}

.sub-rightT::before {
  content: ' ';
  border: 1px solid #0264c5;

  position: absolute;
  top: 5px;
  left: 15px;
  border-width: 1px 20px;
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

.sub-right::after {
  left: -16px;
}

.sub-rightS::after {
  left: -16px;
}

.sub-rightS2::after {
  left: -16px;
}

.sub-rightT::after {
  left: -16px;
}
/* The actual content */
.content {
  padding: 20px 40px;
  /* background-color: rgba(222, 222, 222); */
  position: relative;
  border-radius: 10px;
  top: 5px;
  margin-left: 30%;
  text-align: right;
  /* color: rgb(223, 0, 223); */
}

/* .First {
  color: blue;
}

.Second {
  color: rgb(107, 2, 255);
}

.Third {
  color: rgb(0, 109, 123);
} */

.sub-content {
  padding: 20px 40px;
  /* background-color: rgb(241, 245, 255); */
  /* border: 2px solid #33b3ff; */
  background-color: white;
  border-right: 5px black solid;
  border-bottom: 5px black solid;
  border-top: 2px black solid;
  border-left: 2px black solid;

  position: relative;
  top: -73px; /*moved content */
  border-radius: 10px;
  text-align: left;
  margin-bottom: 1px;
}

.sub-contentS {
  padding: 20px 40px;
  /* background-color: rgb(241, 245, 255); */
  /* border: 2px solid #33b3ff; */
  background-color: white;
  border-right: 5px black solid;
  border-bottom: 5px black solid;
  border-top: 2px black solid;
  border-left: 2px black solid;

  position: relative;
  top: -73px; /*moved content */
  border-radius: 10px;
  text-align: left;
}

.sub-contentS2 {
  padding: 20px 40px;
  /* background-color: rgb(241, 245, 255); */
  /* border: 2px solid #33b3ff; */
  background-color: white;
  border-right: 5px black solid;
  border-bottom: 5px black solid;
  /* border-top: 2px black solid; */
  border-left: 2px black solid;

  position: relative;
  top: -143px; /*moved content */
  border-radius: 0px 0px 10px 10px;
  text-align: left;
  margin-bottom: -80px;
}

.date {
  font-size: small;
  color: gray;
}
.sub-title {
  color: #33b3ff;
}

.sub-titleS {
  color: #7033ff;
}

.sub-titleT {
  color: #0264c5;
}

.dates {
  /* padding-top: -100px; */
  margin-top: -110px;
  /* margin-bottom: -5px; */
}

/* Media queries - Responsive timeline on screens less than 600px wide */
/* @media screen and (max-width: 600px) { */
/* Place the timelime to the left */

@media screen and (max-width: 768px) {
  /* The actual timeline (the vertical ruler) */

  /* The actual timeline (the vertical ruler) */
  .timelineContainer::after {
    left: 40px;
  }

  /* Container around content */
  .container {
    /* background-color: blue; */
    width: 100%;
    /* padding-bottom: -5px; */
    /* bottom: 8; */
  }
  /* 
  .container.left {
    width: 100%;
  } */

  /* Container around content */
  .sub-container {
    /* padding: 30px 40px; */
    margin-top: 30px;
    /* background-color: blue; */
    width: 100%;
  }

  .sub-containerS {
    margin-top: 30px;

    /* background-color: blue; */
    width: 100%;
  }

  .sub-containerS2 {
    /* background-color: blue; */
    width: 100%;
  }

  .sub-containerT {
    margin-top: 30px;
    /* background-color: blue; */
    width: 100%;
  }
  /* Place the left container to the left */
  .left {
    left: 0%;
  }
  /* moved right container to left */
  .sub-right {
    left: 0%;
  }

  .sub-rightS {
    left: 0%;
  }

  .sub-rightS2 {
    left: 0%;
  }

  .sub-rightT {
    left: 0%;
  }
  /* LINES */
  /* black lines */
  .left::before {
    content: ' ';
    border: 1px solid black;
    /* position: absolute; */
    top: 50px;
    /* margin-left: auto; */
    /* padding-left: 1em; */
    display: flex;
    margin-right: 635px;
    margin-left: 10px;
    /* justify-content: left; */
    position: relative;
    /* align-items: left; */
    /* padding-left: 100em; */
    border-width: 1px 20px;
  }
  /*blue line */
  .sub-right::before {
    content: ' ';
    border: 1px solid #33b3ff;
    position: absolute;
    top: -13px;
    left: 50px;
    border-width: 1px 20px;
  }

  .sub-rightS::before {
    content: ' ';
    border: 1px solid #33b3ff;
    position: absolute;
    top: -13px;
    left: 50px;
    border-width: 1px 20px;
  }

  .sub-rightS2::before {
    content: ' ';
    border: 1px solid #33b3ff;
    position: absolute;
    top: -13px;
    left: 50px;
    border-width: 1px 20px;
  }
  .sub-rightT::before {
    content: ' ';
    border: 1px solid #33b3ff;
    position: absolute;
    top: -13px;
    left: 50px;
    border-width: 1px 20px;
  }

  /* Fix the circle for containers on the right side */

  .left::after {
    left: 30px;
  }

  .sub-right::after {
    left: 25px;
  }

  .sub-rightS::after {
    left: 25px;
  }

  .sub-rightS2::after {
    left: 25px;
  }

  .sub-rightT::after {
    left: 25px;
  }
  /* The actual content */
  .content {
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    padding-left: 70px;
    padding-right: 10px;
    /* padding-left: -50px; */
    margin-left: 0;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* background-color: rgba(222, 222, 222); */
    position: relative;
    border-radius: 10px;
    /* top: 5px; */
    /* margin-bottom: -50px; */
    /* margin-left: 2em; */
    /* padding-left: 5em; */
    text-align: left;
  }

  .sub-contentS {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 30px;
    /* background-color: rgba(222, 222, 222); */
    position: relative;
    top: -73px; /*moved content */
    border-radius: 10px;
    text-align: left;
    /* margin-left: 1.7%; */
  }

  .sub-contentS2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 30px;
    /* background-color: rgba(222, 222, 222); */
    position: relative;
    top: -135px; /*moved content */
    margin-bottom: -50px; /*******THIS FOR UNDERNEAR SPACE */
    border-radius: 10px;
    text-align: left;
    border-radius: 0px 0px 10px 10px;

    /* margin-left: 1.7%; */
  }

  .date {
    font-size: small;
    color: gray;
    padding-top: 4px;
  }
  .sub-title {
    color: #33b3ff;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  /* @media screen and (max-width: 600px) { */
  /* Place the timelime to the left */

  /* The circles on the timeline */
  /* .container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 16px;
    right: -17px;
    background-color: black;
    border: 2px solid black;
    top: 50px; /*moves left circle 
    border-radius: 50%;
    z-index: 1;
  } */

  /* The circles on the timeline */
  /* .sub-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 26px;
    right: -17px;
    background-color: #33b3ff;
    border: 4px solid #33b3ff;
    top: -30px; /*moved circle 
    border-radius: 50%;
    z-index: 1;
  } */
}
