* {
  box-sizing: border-box;
  /* margin: 0 auto; */
}

@media only screen and (min-width: 365px) {
  .app-header {
    background: linear-gradient(70deg, #33b3ff 50%, #dfdfdf 50%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 50px;
    /* position: relative; */
    /* z-index: -1; */
  }

  .headshot {
    width: min(38vw, 230px);
    /* width: clamp(40vw, 20%, 20vw); */
    height: auto;
    border-radius: 50%;
    /* margin-top: 7vh; */
    margin-top: 5vh;
  }

  /* .app-header, */
  .bottom-content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 4em;
    padding-right: 6em;
    /* margin-top: -4vh; */
  }

  .top-content {
    margin-left: 4em;
    margin-right: 4em;
    /* text-align: left;
    align-items: left; */
  }

  .social {
    margin-left: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: -3vh; */
    gap: 1em;
  }

  .name {
    font-size: 2rem;
    font-weight: 900;
  }

  .text {
    line-height: 1.5em;
    font-size: 1.2rem;
    font-weight: 300;
    /* margin-bottom: 1vh; */
    /* margin-top: 1vh; */
    /* margin-bottom: 2vh; */
  }

  /* .second-line {
    margin-bottom: 5vh;
  } */

  /* .hero-img {
    position: absolute;
    align-items: center;
    justify-content: right;
    display: flex;
    right: 0;
    width: 50vw;
  } */
}
