@media screen and (min-width: 769px) {
  /* .section-slider {
    height: 100%;
  } */

  .section-center {
    /* width: 80%; */
    width: clamp(60%, 70%, 85%);
    /* z-index: 1; */
    /* align-items: center;
    vertical-align: middle; */
    text-align: center;
    position: relative;
    /* display: flex; */
    overflow: hidden;
    /* right: 0; */
    margin-left: 15vw;
    min-height: 440px;
    /* bottom: 0;
    top: 0; */
    /* border-top: 5px solid rgb(111, 111, 244); */

    /* background-color: rgb(231, 225, 236); */
  }

  article {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    transition: var(--transition);

    /* padding-left: 5em;
    padding-right: 5em; */
  }

  .slider-title {
    padding-top: 10px;
    /* color: #1c79af; */
    font-weight: 900;
    font-size: 2rem;
  }

  /* .arrow {
  } */

  .prev,
  .next {
    position: absolute;
    /* top: 50%; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle; */
    /* gap: 5px; */
    /* margin-top: 50px; */
    /* display: inline-flex; */
    /* text-align: center; */
    /* bottom: 0; */
    /* gap: 55%; */
    /* white-space: nowrap; */
    /* padding: 35% 5% -50px; */
    /* margin: 35% 5% -50px; */
    /* z-index: 10; */
    /* padding-bottom: 5vh; */
    /* gap: 5vw; */
    /* align-content: flex-start; */
    border-color: transparent;
    font-size: x-large;
    color: var(--clr-white);
    background: var(--clr-grey-5);
    cursor: pointer;
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    /* padding-top: 26%; */
    /* margin-top: -5vh; */
    top: 0;
    bottom: 0;
    /* margin-top: 12em; */
    /* background-color: white; */
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }

  article.lastSlide {
    transform: translateX(-100%);
  }

  article.nextSlide {
    transform: translateX(100%);
  }

  /* .slider-title {
    margin-top: -5vh;
  } */

  .ref-text {
    font-size: 1.15rem;
    padding-left: 5em;
    padding-right: 5em;
    /* font-weight: 300; */
    color: #33b3ff;
    /* color: black; */
    /* line-height: 25px; */
    line-height: 1.5em;
    font-size: 1.2rem;
    /* font-weight: 300; */
    /* font-style: italic; */
  }

  .ref-name {
    font-size: 1rem;
    /* padding-top: 2vh;
    margin-bottom: 4%; */
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    margin-bottom: -1em;
  }

  /* #ref-items {
    padding-top: 3vh;
  } */

  button {
    opacity: 0.2;
  }

  button:hover {
    color: #33b3ff;
    opacity: 2;
  }
}

@media screen and (max-width: 768px) {
  .section-center {
    width: 100%;
    /* z-index: 1; */
    text-align: center;
    /* position: relative; */
    /* display: flex; */
    /* overflow: hidden; */
    min-height: 400px;
    /* bottom: 0;
      top: 0; */
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    transition: var(--transition);
    margin-left: 3em;
    margin-right: 3em;
  }

  .slider-title {
    font-weight: 900;
    font-size: 2rem;
    /* padding-top: 1px; */
    padding-bottom: 20px;
  }

  .ref-text {
    font-size: 1rem;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: 500;
    color: #33b3ff;
    line-height: 23px;
    padding-top: 1em;
    font-style: italic;
  }

  .ref-name {
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    /* margin-bottom: 4%;  */
    padding-left: 3em;
    padding-right: 3em;
    /* margin-bottom: -1em; */
  }
  .bg-color-slider {
    background-color: rgb(241, 245, 255);

    /* height: 4px; */
    margin-bottom: 1em;
    border-radius: 5%;
  }

  .prev,
  .next {
    /* opacity: 0; */
    display: none;
  }
}
